/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #444;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
    nav ul {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 18px;
    }

    nav ul li a {
        font-size: 16px;
    }

    footer {
        font-size: 14px;
    }
}